  
  <li class="dropdown">
    <a href="#"
       data-toggle="dropdown" role="button" aria-haspopup="false"
       aria-expanded="false"
       class="nav-link dropdown-toggle user-menu-link">
      <i class="fad mr-2 fa-user-cog"></i>
    </a>
    <div class="dropdown-menu dropdown-menu--compact dropdown-menu-right">
    
      <h6 class="dropdown-header">User</h6>
      <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
      
      <a href="<%= main_app.destroy_admin_session_path %>"
         class="dropdown-item">
        <i class="fad mr-2 fa-power-off"></i>
        <span>Log-out</span>
      </a>
    </div>
  </li>
