.reserveInStore-btn-container {
    margin-top: 12px;
}

.reserveInStore-modal-container {
    width: 0;
    height: 0;
}

/*The Modal (background) */
.reserveInStore-modal-background {
    display: block; /* Hidden by default */
    opacity: 100;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/*Modal Content */
.reserveInStore-reserve-modal {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    background-color: #fefefe;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: reserveInStore-animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: reserveInStore-animatetop;
    animation-duration: 0.4s;
    padding: 10px;
    max-width: 1560px;
    width: 93%;
    margin: 20px auto;
}

.reserveInStore-reserve-modal * {
    box-sizing: border-box;
    margin: 0;
    color: #000000;
    height: auto;
    font-style: normal;
    letter-spacing: 0;
}

.reserveInStore-reserve-modal .ris-location-block * {
    box-sizing: border-box;
    margin: 0;
    color: #000000;
    height: auto;
}

.reserveInStore-reserve-modal .ris-columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

.reserveInStore-reserve-modal .ris-column {
    flex: 1;
    margin: 2px;
    padding: 30px;
}

.reserveInStore-reserve-modal .ris-column:first-child {
    margin-left: 0;
}

.reserveInStore-reserve-modal .ris-column:last-child {
    margin-right: 0;
}

@media screen and (max-width: 980px) {
    .ris-columns .ris-column {
        margin-bottom: 5px;
        flex-basis: 40%;
    }

    .ris-columns .ris-column:nth-last-child(2) {
        margin-right: 0;
    }

    .ris-columns .ris-column:last-child {
        flex-basis: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 680px) {
    .ris-columns .ris-column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}

.reserveInStore-reserve-modal header {
    padding: 0 15px;
}

.reserveInStore-reserve-modal .ris-main-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 39px;
    padding-top: 40px;
    text-transform: none;
}

.reserveInStore-reserve-modal .ris-instruction {
    text-align: center;
    padding-bottom: 20px;
    color: grey;
}

.reserveInStore-reserve-modal .ris-header-text {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    text-transform: uppercase;
    border-bottom: 1px solid grey;
    margin-bottom: 25px;
    padding-bottom: 8px;
    font-size: larger;
    font-weight: 300;
}

.reserveInStore-reserve-modal .ris-location-block {
    margin-bottom: 1.6em;
}

.reserveInStore-reserve-modal .ris-location-block:last-child {
    margin-bottom: 0;
}

.ris-location-block .ris-location-label {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 7px;
    margin-bottom: 15px;
}

.ris-location-block .ris-location-description {
    padding-left: 20px;
}

.ris-location-block .ris-view-on-map {
    margin-top: 1.6em;
    text-align: center;
    font-size: 0.8em;
    float: right;
}

.ris-location-block .ris-view-on-map img {
    display: block;
    margin: 0px auto;
    width: 3em;
}

.ris-location-block.ris-view-on-map a {
    text-decoration: underline;
    color: #adadad;
}

.ris-location-block ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* For custom html code */
.ris-location-block .ris-weekDays ul li:first-child {
    padding-left: 0px;
}

.ris-location-block .ris-weekDays ul li:not(:last-child) {
    border-right: thin solid black;
}

.ris-location-block .ris-weekDays ul li {
    float: left;
    padding-left: 14px;
    padding-right: 14px;
}

.ris-location-block p {
    font-size: 0.8em;
    text-transform: uppercase;
    line-height: 1.6em;
}

.ris-location-block .ris-row {
    margin-top: 0;
    margin-bottom: 8px;
}

/* Clearfix, in case user inputs floated elements */
.ris-location-block .ris-row:after {
    content: " ";
    display: block;
    clear: both;
}

.reserveInStore-reserve-modal .ris-contact-field {
    margin-bottom: 15px;
}

.reserveInStore-reserve-modal .ris-contact-field:last-child {
    margin-bottom: 0;
}

.reserveInStore-reserve-modal .ris-contact-field label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    text-transform: uppercase;
}

.reserveInStore-reserve-modal .ris-contact-field input {
    margin-bottom: 15px;
    border: 1px solid #323232;
    background-color: white;
    width: 100%;
    padding: 8px 20px;
}

.reserveInStore-reserve-modal .ris-contact-field input:last-child {
    margin-bottom: 0;
}

.reserveInStore-reserve-modal .ris-product-detail {
    background-color: #e2e2e2;
    padding: 30px;
    margin-bottom: 18px;
}

.reserveInStore-reserve-modal .ris-product-detail .ris-product-price {
    font-size: 1.5em;
    float: right;
}

.reserveInStore-form-submit {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
    background-color: #333333;
    color: white;
    box-shadow: 3px 3px #dddddd;
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    height: 2.7em;
    text-transform: uppercase;
}

.reserveInStore-reserve-modal .ris-text-small {
    font-size: 0.9em;
}

.reserveInStore-reserve-modal .ris-text-medium {
    font-size: 1.1em;
}

.reserveInStore-reserve-modal .ris-text-large {
    font-size: 1.2em;
}

.reserveInStore-reserve-modal .ris-text-block {
    margin: 20px 0;
}

/* Add Animation */
@-webkit-keyframes reserveInStore-animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes reserveInStore-animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/*The Close Button */
.reserveInStore-reserve-close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.reserveInStore-reserve-close:hover,
.reserveInStore-reserve-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* HTML 5 form validation error display */
.reserveInStore-attempted:invalid {
    box-shadow: 0 0 5px 1px red;
}

.reserveInStore-attempted:focus:invalid {
    box-shadow: none;
}

/* Server side form validation error display */
.reserveInStore-error-ul {
    font-size: 100%;
    color: #D8000C;
    background-color: #FFD2D2;
    margin: 10px 0px;
    padding: 5px;
}

/* Success modal after submitting an In-Store reservation */
.reserveInStore-success-modal {
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    padding: 25px 25px 15px;
    text-align: center;
}

.reserveInStore-success-modal h1 {
    font-family: 'Montserrat', sans-serif;
}

.reserveInStore-success-modal p {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

.reserveInStore-success-modal button,
.reserveInStore-success-modal button:active,
.reserveInStore-success-modal button:focus {
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin-top: 15px;
    width: 80%;
    background: transparent;
    color: #4caf50;
    border-color: #4caf50;
    outline: none;
}

.reserveInStore-success-modal button:hover,
.reserveInStore-success-modal button:active:hover,
.reserveInStore-success-modal button:focus:hover {
    color: #fff;
    background: #4caf50;
    border-color: transparent;
}

.reserveInStore-success-modal .reserveInStore-modal-icon {
    position: relative;
    margin: 0 auto;
    margin-top: -75px;
    background: #4caf50;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-animation: fall-in 0.75s;
    -moz-animation: fall-in 0.75s;
    -o-animation: fall-in 0.75s;
    animation: fall-in 0.75s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.reserveInStore-success-modal .reserveInStore-modal-icon span {
    font-size: 5em;
    color: #fff;
}

.reserveInStore-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* browser compatibility */
@-webkit-keyframes fall-in {
    0% {
        -ms-transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        transform: scale(3, 3);
        opacity: 0;
    }
    50% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
    60% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-moz-keyframes fall-in {
    0% {
        -ms-transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        transform: scale(3, 3);
        opacity: 0;
    }
    50% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
    60% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-o-keyframes fall-in {
    0% {
        -ms-transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        transform: scale(3, 3);
        opacity: 0;
    }
    50% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
    60% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@keyframes fall-in {
    0% {
        -ms-transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        transform: scale(3, 3);
        opacity: 0;
    }
    50% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
    60% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

