.reserveInStore-btn-container {
    margin-top: 12px;
}

.reserveInStore-modal-container {
    width: 0;
    height: 0;
}

/*The Modal (background) */
.reserveInStore-modal-background {
    display: block; /* Hidden by default */
    opacity: 100;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/*Modal Content */
/*.reserveInStore-modal-content {*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*}*/

.reserveInStore-reserve-modal {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: reserveInStore-animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: reserveInStore-animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes reserveInStore-animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes reserveInStore-animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/*The Close Button */
.reserveInStore-reserve-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.reserveInStore-reserve-close:hover,
.reserveInStore-reserve-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.reserveInStore-modal-header {
    padding: 2px 16px;
    background-color: #c8c8c8;
    color: #ffffff;
}

.reserveInStore-modal-title {
    text-transform: none;
}

.reserveInStore-modal-body {
    padding: 2px 16px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reserveInStore-modal-footer {
    padding: 2px 16px;
    background-color: #b3b3b3;
    color: white;
    text-align: center;
}

.reserveInStore-form-submit {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 80%;
}

/* HTML 5 form validation error display */
.reserveInStore-attempted:invalid {
    box-shadow: 0 0 5px 1px red;
}

.reserveInStore-attempted:focus:invalid {
    box-shadow: none;
}

/* Server side form validation error display */
.reserveInStore-error-ul {
    font-size: 80%;
    color: #D8000C;
    background-color: #FFD2D2;
    margin: 10px 0px;
    padding: 5px;
}

/* Success modal after submitting an In-Store reservation */
.reserveInStore-success-modal {
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    padding: 25px 25px 15px;
    text-align: center;
}

.reserveInStore-success-modal h1 {
    font-family: 'Montserrat', sans-serif;
}

.reserveInStore-success-modal p {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

.reserveInStore-success-modal button,
.reserveInStore-success-modal button:active,
.reserveInStore-success-modal button:focus {
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin-top: 15px;
    width: 80%;
    background: transparent;
    color: #4caf50;
    border-color: #4caf50;
    outline: none;
}

.reserveInStore-success-modal button:hover,
.reserveInStore-success-modal button:active:hover,
.reserveInStore-success-modal button:focus:hover {
    color: #fff;
    background: #4caf50;
    border-color: transparent;
}

.reserveInStore-success-modal .reserveInStore-modal-icon {
    position: relative;
    margin: 0 auto;
    margin-top: -75px;
    background: #4caf50;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-animation: fall-in 0.75s;
    -moz-animation: fall-in 0.75s;
    -o-animation: fall-in 0.75s;
    animation: fall-in 0.75s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.reserveInStore-success-modal .reserveInStore-modal-icon span {
    font-size: 5em;
    color: #fff;
}

.reserveInStore-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* browser compatibility */
@-webkit-keyframes fall-in {
    0% {
        -ms-transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        transform: scale(3, 3);
        opacity: 0;
    }
    50% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
    60% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-moz-keyframes fall-in {
    0% {
        -ms-transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        transform: scale(3, 3);
        opacity: 0;
    }
    50% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
    60% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-o-keyframes fall-in {
    0% {
        -ms-transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        transform: scale(3, 3);
        opacity: 0;
    }
    50% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
    60% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@keyframes fall-in {
    0% {
        -ms-transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        transform: scale(3, 3);
        opacity: 0;
    }
    50% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
    60% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
