<div style="margin-bottom: 10px">
  <div style="display: inline-block; vertical-align:middle; margin-right: 10px">
    <img src="<%= asset_url('shared_mailer/logo_icon.png') %>" class="centered-header">
  </div>
  <h2 style="display: inline-block;">
    <%= title %>
  </h2>
</div>
