<!-- footer -->
<table class="footer-wrap">
  <tr>
    <td></td>
    <td class="container">

      <!-- content -->
      <div class="content">
        <table>
          <tr>
            <td align="center">
              <p style="font-size: 10px;">

              </p>
              <div style="font-size: 10px; opacity: 0.75;">
                Follow us on twitter for updates: <a href="https://twitter.com/feracommerce">@feracommerce</a>.
              </div>
            </td>
          </tr>
        </table>
      </div>
      <!-- /content -->

    </td>
    <td></td>
  </tr>
</table>
<!-- /footer -->
