<div class="Polaris-Page">
  <div class="Polaris-Page__Content">
    <div class="Polaris-Layout">
      <div class="Polaris-TextContainer">
        <p class="Polaris-DisplayText Polaris-DisplayText--sizSmall">Please wait.....</p>
      </div>
    </div>
  </div>
</div>
