<div class="content-heading page-title ">
  <div class="content-heading-row align-items-center justify-content-center">
    <div class="content-heading-left">
        <h1> Store #<%= store.id %></h1>
    </div>
  </div>
</div>
