/*
 Gets loaded on all backend system pages
 *= require public/reserveinstore
*/

.modal-nav-tab {
  border-bottom: 0;
}

.modal-nav-tab .Polaris-Tabs__Title {
  padding: 2.5rem 0 1.9rem 0;
}

.modal-tab-header {
  padding: 0 2rem;
}

.location-preview-box {
  font-family: 'Open Sans', sans-serif;
  border: 1px solid black;
  width: 365px;
  padding: 0.8rem;
  margin-bottom: 15px;
  border-radius: 8px;
}

.location_html_editor {
  height: 250px;
}

// Clearfix, in case of user input floated elements
#location_custom_html_preview:after {
  content: " ";
  display: block;
  clear: both;
}

// Change this later, doesn't seem to be right TODO
input[type="radio"]{
  margin:0;
}

