.setupPanel {
    background-color: white;
    padding: 24px;
    margin: 24px;
}

.setupPanel h1 {
    margin-bottom: 8px;
    font-size: 26px;
}

.setupPanel-actions {
    margin-top: 24px;
    text-align: right;
}

.setupPanel > p {
    margin-bottom: 12px;
    font-size: 11px;
}

.stock-status-li {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    width: 48%;
    margin-bottom: 20px;
}
