.inStore-reserver-svg {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.inStore-reserver-icon-container {
    display: inline-block;
    vertical-align: middle;

    .inStore-reserver-svg-success {
        path {
            fill: #5cb85c;
        }
    }

    .inStore-reserver-svg-failed {
        path {
            fill: #ff0000;
        }
    }
}

