// Sticky-top
.top_navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 21; // Polaris text field has a z-index of 20
}

.top_navbar ul {
  max-width: 1000rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}
