<h3>
  New Reservation With {{ store_link }}
</h3>

<p>
  Hello {{ customer_first_name }},
</p>

<p>
  Your reservation for {{ product_link }} has been received
  {% if reservation_time %}
    for the following date:
    <br>
    {{ reservation_time }}
  {% endif %}
</p>

<hr>

<p>
  It will be held at:
</p>

<p>
  {{ location_name }}
  <br>
  {{ location_address }}
  <br>
  {{ location_city }} {{ location_state }}
  <br>
  {{ location_country }}
</p>

<hr>

<p>
  See you soon!
</p>
