<h3>Hello {{ customer_first_name }} {{ customer_last_name }}, </h3>
<p>Your product {{ product_title }} will be held at {{ location_name }}.
  The address is {{ location_address }}, {{ location_city }}, {{ location_state }}, {{ location_country }}.</p>

<h2>
  New Reservation With {{store_name}}
</h2>

<p>Hello {{customer_first_name}} {{customer_last_name}},</p>

<p>
  Your reservation for {{ product_title }} has been received!
</p>

<p>It will be held at the </p>
