<h2>
  New Reservation With {{ store_link }}
</h2>

<p>
  Hello {{ customer_first_name }} {{ customer_last_name }},
</p>

<p>
  Your reservation for {{ product_link }} has been received with the following details:
</p>

<p>
  {{ reservation_details }}
</p>

<hr>

<p>
  It will be held at:
</p>

<p>
  {{ location_name }}
  <br>
  {{ location_address }}
  <br>
  {{ location_city }} {{ location_state }}
  <br>
  {{ location_country }}
</p>

<hr>

<p>
  See you soon!
</p>