<span class="Polaris-DataTable__Heading--sortable">
  <span class="Polaris-Icon">
    <svg class="Polaris-Icon__Svg" viewBox="0 0 20 20" focusable="false" aria-hidden="true">
      <%= svg_arrow_path %>
    </svg>
  </span>
</span>
